.bg-custom {
    background-color:rgb(119, 119, 119);
    
}

.text-custom {
    color:rgb(255, 255, 255)!important;
}

.flex-custom {
    justify-content: space-between!important;
    flex-direction: row!important;
}

.justify-content-custom {
    justify-content: center;
}

.hero-img {
    max-height: 70vh!important;
    overflow: hidden!important;
}

.hero-img-2 {
    margin-left: 33%;
    overflow: hidden;
}

.bg-image {
    background-position-y: -30vh;
    background-position-x: center;
    background-image: url('img/BackGroundHero.png');
    height: 400vh;
}

.img-custom-2 {
    width: 120vh;
}

.link-custom{
    text-decoration: none;
    color: rgb(158, 232, 255);
}

.hero-text{
    padding-top: 30vh;
}

.hero-text-2{
    padding-left: 1%!important;
    padding-top: 1%!important;
} 

.hero-text h1{
    color:rgb(255, 255, 255);
}

.first-word-hero{
    color:rgb(158, 232, 255);
    text-decoration: none;
}


.hero-text p {
    color: rgb(158, 232, 255);
    font-weight: 500;
}

.card-body-custom {
    min-height: 20rem!important;
}

.btn-pos {
    bottom: 4%!important;
    position: absolute!important;
}

.card-text-custom {
    padding-bottom: 2rem!important;
} 
body {
    padding-bottom: 10vh;
}

footer {
    background-color:#777777;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}